GKExtensions.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GKExtensions.xcodeproj/project.xcworkspace/xcuserdata/kirillopekisev.xcuserdatad/UserInterfaceState.xcuserstate
GKExtensions.xcodeproj/xcuserdata/kirillopekisev.xcuserdatad/xcschemes/xcschememanagement.plist
